---
layout: layouts/base.njk
---

<section class="intro offset-grid ">
  <div class="in-content flow ">
    {{ content | safe }}
    <a href="/about/" class="more">More</a> 
  </div>
</section>

<section class="articles">
  <h2 class="h1">Recent Articles</h2>
  {% assign posts = collections.post | reverse  %}

  {%- for post in posts limit:3 -%}
    <article class="offset-grid">
      <p class="byline in-sidebar"><span class="short">{{ post.data.date | date: '%d.%m.%y' }}</span> <span class="long">{{ post.data.date | date: '%d %b %Y' }}</span></p>
      <div class="in-content">
        <h2><a href="{{ post.url | url}}">{{ post.data.title }}</a></h2>
        {% excerpt post %}
        <a href="{{ post.url | url }}" class="more">Read Article</a>
      </div>
    </article>
  {%- endfor -%}

  <a href="/posts/" class="more in-content">All Articles</a>
</section>


